<router-outlet></router-outlet>


<!-- <app-auto-complete></app-auto-complete> -->
<!-- <app-tree></app-tree> -->
<!-- <app-accordion></app-accordion> -->
<!-- <app-calendar></app-calendar> -->
<!-- <app-check-box></app-check-box> -->
<!-- <app-chips></app-chips> -->

<!-- <app-color-picker></app-color-picker> -->
<!-- <app-dropdown></app-dropdown> -->
<!-- <app-input-group></app-input-group> -->
<!-- <app-input-mask></app-input-mask> -->
<!-- <app-input-switch></app-input-switch> -->
<!-- <app-input-text></app-input-text> -->

<!-- <app-password></app-password> -->
<!-- <app-slider></app-slider> -->
<!-- <app-select-button></app-select-button> -->
<!-- <app-button></app-button> -->
<!-- <app-table></app-table> -->
<!-- <app-card></app-card> -->
<!-- <app-tab></app-tab> -->
<!-- <app-toolbar></app-toolbar> -->
<!-- <app-dialog></app-dialog> -->
<!-- <app-slidebar></app-slidebar> -->
<!-- <app-tooltip></app-tooltip> -->
<!-- <app-menu></app-menu> -->
<!-- <app-steps></app-steps> -->
<!-- <app-massage></app-massage> -->
<!-- <app-badge></app-badge> -->


<!-- Extra -->
<!-- <app-knob></app-knob> -->
<app-rating></app-rating>