<h1>Accordion works!</h1>
<p-accordion [activeIndex]="0">
    <p-accordionTab header="First ">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque possimus autem ipsa in odit consequatur dolor vero accusamus neque.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Second ">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque possimus autem ipsa in odit consequatur dolor vero accusamus neque.
        </p>
    </p-accordionTab>
    <p-accordionTab header="Third ">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam eaque possimus autem ipsa in odit consequatur dolor vero accusamus neque.
        </p>
    </p-accordionTab>
</p-accordion>