<h1>button works!</h1>

<div class="card flex justify-content-center align-items-center flex-row">
    <p-button label="Submit" [loading]="loading" (click)="load()" class="me-3"></p-button>
    <p-button label="Loading custom icon" [loading]="loading" loadingIcon="pi pi-bell" (click)="load()"></p-button>
</div>

<h3>Colors Of Button</h3>
<p-button label="Primary" class="me-2"></p-button>
<p-button label="Secondary" styleClass="p-button-secondary" class="me-2"></p-button>
<p-button label="Success" styleClass="p-button-success" class="me-2"></p-button>
<p-button label="Info" styleClass="p-button-info" class="me-2"></p-button>
<p-button label="Warning" styleClass="p-button-warning" class="me-2"></p-button>
<p-button label="Help" styleClass="p-button-help" class="me-2"></p-button>
<p-button label="Danger" styleClass="p-button-danger"></p-button>


<!-- 
<div class="card flex justify-content-center">
    <p-toggleButton [(ngModel)]="checked" onLabel="I confirm" offLabel="I reject" onIcon="pi pi-check"
        offIcon="pi pi-times" [style]="{ width: '10em' }"></p-toggleButton>
</div> -->